build/
__pycache__/
*.pyc
.vs/
*.user
*.suo
.pytest_cache/
*.pyd
src/python/arix_algo/Release/
*.lib
*.exp
*.obj

build_standalone/
src/python/arix_algo/Debug/
*.exe
*.pdb
*.dll
*.ilk


test_chacha_ref.py
test_chacha_standalone.c
test_qr.c
CMakeLists_standalone.txt
releases/
*.tar.gz
*.zip
*.sig
SUMS

